# Lists

Sequencia de elementos mut√°veis

In [1]:
# create an empty list
my_list = []

In [2]:
my_list

[]

In [3]:
my_list.append(10)

In [5]:
my_list.append(30)

In [6]:
my_list

[10, 30]

In [7]:
my_list = [1, 3]

In [8]:
my_list

[1, 3]

In [10]:
my_list[0]

1

In [11]:
my_list[0] = 20

In [12]:
my_list

[20, 3]

In [13]:
my_list[1] = 'a'

In [14]:
my_list

[20, 'a']

In [15]:
my_list.append([1,2,3,4])

In [16]:
my_list

[20, 'a', [1, 2, 3, 4]]

In [18]:
my_list[2]

[1, 2, 3, 4]

In [19]:
my_list[2][2]

3

In [21]:
my_list.append({'Andre': 10, 'Diego': 1000})

In [22]:
my_list

[20, 'a', [1, 2, 3, 4], {'Andre': 10, 'Diego': 1000}]

In [24]:
my_list[-1]['Diego']

1000

In [25]:
# os is a package for tools of the `operating system`

import os

In [30]:
os

In [28]:
os.listdir('data')

['asoidjfoi.cmd',
 'asriowier.xlsx',
 'bike_sharing_daily.csv',
 'bike_sharing_hourly.csv',
 'bla.txt',
 'FitBit.csv',
 'titanic.csv',
 'titanic_processed.csv']

In [29]:
os.sys.path

['C:\\Users\\andreaguiar\\Desktop\\usr\\dev\\ironhack\\pt202007\\classes\\week2\\3_list_comprehensions',
 'c:\\programas\\anaconda3\\python37.zip',
 'c:\\programas\\anaconda3\\DLLs',
 'c:\\programas\\anaconda3\\lib',
 'c:\\programas\\anaconda3',
 '',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages\\ironhack-0.0.1-py3.7.egg',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages\\termcolor-1.1.0-py3.7.egg',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages\\spoonacular-1.0.0-py3.7.egg',
 'c:\\programas\\anaconda3\\lib\\site-packages',
 'c:\\programas\\anaconda3\\lib\\site-packages\\pyvis-0.1.6.0-py3.7.egg',
 'c:\\programas\\anaconda3\\lib\\site-packages\\win32',
 'c:\\programas\\anaconda3\\lib\\site-packages\\win32\\lib',
 'c:\\programas\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages\\IPython\\extensions',
 'C:\\Users\\andreaguiar\\.ipython']

In [31]:
os.sys.path.append('C:/Users/andreaguiar/Desktop/usr/dist')

In [32]:
os.sys.path

['C:\\Users\\andreaguiar\\Desktop\\usr\\dev\\ironhack\\pt202007\\classes\\week2\\3_list_comprehensions',
 'c:\\programas\\anaconda3\\python37.zip',
 'c:\\programas\\anaconda3\\DLLs',
 'c:\\programas\\anaconda3\\lib',
 'c:\\programas\\anaconda3',
 '',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages\\ironhack-0.0.1-py3.7.egg',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages\\termcolor-1.1.0-py3.7.egg',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages\\spoonacular-1.0.0-py3.7.egg',
 'c:\\programas\\anaconda3\\lib\\site-packages',
 'c:\\programas\\anaconda3\\lib\\site-packages\\pyvis-0.1.6.0-py3.7.egg',
 'c:\\programas\\anaconda3\\lib\\site-packages\\win32',
 'c:\\programas\\anaconda3\\lib\\site-packages\\win32\\lib',
 'c:\\programas\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages\\IPython\\extensions',
 'C:\\Users\\andreaguiar\\.ipython',
 'C:/Users/andreaguiar/Desktop/usr/dist']

In [33]:
os.sys.path.insert(0, '/Users/andreaguiar/Desktop/usr/dist/')

In [34]:
os.sys.path

['/Users/andreaguiar/Desktop/usr/dist/',
 'C:\\Users\\andreaguiar\\Desktop\\usr\\dev\\ironhack\\pt202007\\classes\\week2\\3_list_comprehensions',
 'c:\\programas\\anaconda3\\python37.zip',
 'c:\\programas\\anaconda3\\DLLs',
 'c:\\programas\\anaconda3\\lib',
 'c:\\programas\\anaconda3',
 '',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages\\ironhack-0.0.1-py3.7.egg',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages\\termcolor-1.1.0-py3.7.egg',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages\\spoonacular-1.0.0-py3.7.egg',
 'c:\\programas\\anaconda3\\lib\\site-packages',
 'c:\\programas\\anaconda3\\lib\\site-packages\\pyvis-0.1.6.0-py3.7.egg',
 'c:\\programas\\anaconda3\\lib\\site-packages\\win32',
 'c:\\programas\\anaconda3\\lib\\site-packages\\win32\\lib',
 'c:\\programas\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\andreaguiar\\AppData\\Roaming\\Python\\Python37\\site-packages\\IPython\\extensions',
 'C:\\Users\\andreaguiar\\.ipython',
 'C:/Users/andreaguiar/Desktop/usr/dist']

# List Comprehensions

## Loops with lists

In [35]:
my_list = []

In [36]:
my_list[0] = 3

IndexError: list assignment index out of range

In [37]:
# append is an 'inplace' operation (the list is updated under the hood)
my_list.append(3)

In [38]:
# my_list is now changed
my_list

[3]

In [39]:
my_list = []

for i in range(5):
    my_list.append(i)

In [40]:
my_list

[0, 1, 2, 3, 4]

In [ ]:
n'ew_list = []

new_list'

In [41]:
new_list = []

for item in range(100):
    
    x = item * 2
    y = x**2
    new_list.append(y)
    
print(new_list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000, 10404, 10816, 11236, 11664, 12100, 12544, 12996, 13456, 13924, 14400, 14884, 15376, 15876, 16384, 16900, 17424, 17956, 18496, 19044, 19600, 20164, 20736, 21316, 21904, 22500, 23104, 23716, 24336, 24964, 25600, 26244, 26896, 27556, 28224, 28900, 29584, 30276, 30976, 31684, 32400, 33124, 33856, 34596, 35344, 36100, 36864, 37636, 38416, 39204]

## Extra: tqdm

External package to visualize a loading bar in a `for loop`

In [42]:
!pip3 install tqdm --user

Requirement already satisfied: tqdm in c:\users\andreaguiar\appdata\roaming\python\python37\site-packages (4.46.1)

In [ ]:
# !pip3 install tqdm
# !pip3 install tqdm --user (windows users)

In [43]:
from tqdm.auto import tqdm

In [47]:
new_list = []

for i in tqdm(range(10000000), desc='Teste'):
    new_list.append(i)

HBox(children=(FloatProgress(value=0.0, description='Teste', max=10000000.0, style=ProgressStyle(description_w‚Ä¶

## Comprehensions

Comprehensions are used for the same objective as the above. To create a new list. However, it has a different (more compact) syntax.

In [49]:
new_list = []

for item in range(10):
    print(new_list)
    new_list.append(item)

print(new_list)

[]
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
new_list = []

for item in range(10):
    new_list.append(item)

print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
[item for item in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
new_list = [item for item in range(10)]
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Operations inside comprehensions

In [53]:
new_list = []

for item in range(100):
    new_list.append(item ** 2)
    
print(new_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [55]:
new_list = [item ** 2 for item in range(100)]

In [57]:
print(new_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

### `if` conditions in comprehensions

In [61]:
new_list = []

for item in range(10):
    
    # append se o numero for par
    # item % 2 √© o resto da divis√£o de item por 2
    if item % 2 == 0:
        new_list.append(item)
        
print(new_list)

[0, 2, 4, 6, 8]

In [64]:
new_list = [item for item in range(10) if item % 2 == 0]
new_list

[0, 2, 4, 6, 8]

In [74]:
new_list = []

for item in range(10):
    if item % 2 == 0:
        new_list.append(item ** 2)
        
print(new_list)

[0, 4, 16, 36, 64]

In [76]:
[banana ** 2 for banana in range(10) if banana % 2 == 0]

[0, 4, 16, 36, 64]

In [79]:
os.listdir('data')

['asoidjfoi.cmd',
 'asriowier.xlsx',
 'bike_sharing_daily.csv',
 'bike_sharing_hourly.csv',
 'bla.txt',
 'FitBit.csv',
 'titanic.csv',
 'titanic_processed.csv']

In [84]:
filenames = os.listdir('data')
filenames

['asoidjfoi.cmd',
 'asriowier.xlsx',
 'bike_sharing_daily.csv',
 'bike_sharing_hourly.csv',
 'bla.txt',
 'FitBit.csv',
 'titanic.csv',
 'titanic_processed.csv']

In [86]:
csv_files = [file for file in filenames if file.endswith('.csv')]
csv_files

['bike_sharing_daily.csv',
 'bike_sharing_hourly.csv',
 'FitBit.csv',
 'titanic.csv',
 'titanic_processed.csv']

## Two `for` loops

In [92]:
list_of_lists = [[1,2,3,4], 
                 [5,6,7,8], 
                 [1,3,6,8]]
my_results = []

for item in list_of_lists:
    for another_item in item:
        if another_item > 5:    
            my_results.append(another_item)
#
print(my_results)

[6, 7, 8, 6, 8]

In [94]:
[another_item for item in list_of_lists for another_item in item if another_item > 5]

[6, 7, 8, 6, 8]

## If-Else syntax in comprehensions

In [95]:
new_list = []

for item in range(10):
    if item < 5:
        new_list.append(0)
    else:
        new_list.append(1)

new_list

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [96]:
[(0 if item < 5 else 1) for item in range(10)]

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [97]:
[0 if item < 5 else 1 for item in range(10)]

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

# Applications

In [98]:
os.listdir('data/')

['asoidjfoi.cmd',
 'asriowier.xlsx',
 'bike_sharing_daily.csv',
 'bike_sharing_hourly.csv',
 'bla.txt',
 'FitBit.csv',
 'titanic.csv',
 'titanic_processed.csv']

In [100]:
new_list = []

for file in os.listdir('data/'):
    if file.endswith('.csv'):
        new_list.append(file)
        
new_list

['bike_sharing_daily.csv',
 'bike_sharing_hourly.csv',
 'FitBit.csv',
 'titanic.csv',
 'titanic_processed.csv']

## Using for loop

In [ ]:
# !pip3 install pandas --user

In [105]:
import pandas as pd
new_list = []

for file in os.listdir('data'):
    if file.endswith('csv'):
        print(f'Reading {"data/" + file}')
        new_list.append(pd.read_csv('data/' + file))

Reading data/bike_sharing_daily.csv
Reading data/bike_sharing_hourly.csv
Reading data/FitBit.csv
Reading data/titanic.csv
Reading data/titanic_processed.csv

In [108]:
new_list[3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Using List Comprehensions

In [109]:
new_list = [pd.read_csv('data/' + file) for file in os.listdir('data') if file.endswith('csv')]

In [112]:
new_list[3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q